<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/c58d6bbdac.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="/public/home.css">
        <link rel="stylesheet" href="/public/partials.css">
    </head>
    <body> 
        <%- include('partials/header.html') %>
        
        <div class="emphasis-main">
            <a  href="post/<%= resultBd[0].post_id %>">
                <div class="emphasis-news">
                    
                    <img src="<%- resultBd[0].post_image %>">
                    <div class="details">
                        <h2><%= resultBd[0].post_title %></h2>
                        <p><%= resultBd[0].post_subtitle %></p>
                    </div>
                </div>
            </a>
        </div>
        
        <div class="lasts-news">
            <h1>Ultimas Noticias</h1>
            <div class="box-main">
               
                <% if(resultBd[0]){%>
                    <a href="post/<%= resultBd[0].post_id %>">
                        <div class="news-box">
                            <img src="<%- resultBd[0].post_image %>">
                            <div class="details">
                                <h2><%= resultBd[0].post_title %></h2>
                                <p><%= resultBd[0].post_subtitle %></p>
                            </div>
                        </div>
                    </a>
                <% } %>
                <% if(resultBd[1]){%>
                    <a href="post/<%= resultBd[1].post_id %>">
                        <div class="news-box">
                            <img src="<%- resultBd[1].post_image %>">
                            <div class="details">
                                <h2><%= resultBd[1].post_title %></h2>
                                <p><%= resultBd[1].post_subtitle %></p>
                            </div>
                        </div>
                    </a>
                <% } %>
                <% if(resultBd[2]){%>
                    <a href="post/<%= resultBd[2].post_id %>">
                        <div class="news-box">
                            <img src="<%- resultBd[2].post_image %>">
                            <div class="details">
                                <h2><%= resultBd[2].post_title %></h2>
                                <p><%= resultBd[2].post_subtitle %></p>
                            </div>
                        </div>
                    </a>
                <% } %>
                
            </div>
        </div>

        <%- include('partials/hotnews.html') %>
        <%- include('partials/footer.html') %>
    </body>
</html>